*{ 
font-family: Arial; 
margin: 0 auto;
background-color: #ffffff;
}
 table{     
	border-collapse: collapse;  
	border-radius: 4px 4px 4px 4px; 
	} 
	
 #header{     
	 padding-top: 40px;     
	 padding-bottom: 40px;     
	 text-align: center;     
	 border: 4px solid black; 
 } 
 

 .nav li a:hover{     
	background-color: #f60; 
	} 
	
h4, img {
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .verkleinern img{ 
height:100px; 
}